*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
}

body header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
}

div.this{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
}

.text h2{
    font-size: 48px;
    color: #f9faf8;
    text-align: center;
}

.text span{
    font-size: 18px;
    color: #e5e7eb;
    text-align: center;
}

img{
    width: 200px;
}
